/*****************
*    body
*****************/

body {
    font-family: Microsoft JhengHei, sans-serif;
    font-size: 16px;
    position: relative;
}


/*****************
*    cover
*****************/

#cover {
    background-image: url(../images/cover.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1280px;
}


/*****************
*    intro
*****************/

#intro {
    background-image: url(../images/intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
}

#intro-text {
    font-size: 24px;
    color: white;
    padding-top: 90px;
}


/*****************
*    sales
*****************/

#sales {
    background-color: #b3efff;
    height: 780px;
}

#sales-title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

#sales-text {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

#svg-sales {
    margin-top: 50px;
    width: 1020px;
    height: 400px;
}

#ggr-april {
    position: absolute;
    left: 0;
    margin-left: 560px;
    margin-top: 70px;
    visibility: hidden;
}

#ggr-may {
    position: absolute;
    left: 0;
    margin-left: 635px;
    margin-top: 150px;
    visibility: hidden;
}

#ggr-june {
    position: absolute;
    left: 0;
    margin-left: 860px;
    margin-top: 230px;
    visibility: hidden;
}

#ggr-july {
    position: absolute;
    left: 0;
    margin-left: 910px;
    margin-top: 310px;
    visibility: hidden;
}

.move-april {
    animation-name: move-april;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.250, 0.100, 0.340, 0.915);
}

@keyframes move-april {
    from {
        transform: translate3d(-410%, 0, 0);
    }
    to {
        transform: none;
    }
}

.move-may {
    animation-name: move-may;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.250, 0.100, 0.340, 0.915);
}

@keyframes move-may {
    from {
        transform: translate3d(-480%, 0, 0);
    }
    to {
        transform: none;
    }
}

.move-june {
    animation-name: move-june;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.250, 0.100, 0.340, 0.915);
}

@keyframes move-june {
    from {
        transform: translate3d(-680%, 0, 0);
    }
    to {
        transform: none;
    }
}

.move-july {
    animation-name: move-july;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.250, 0.100, 0.340, 0.915);
}

@keyframes move-july {
    from {
        transform: translate3d(-725%, 0, 0);
    }
    to {
        transform: none;
    }
}


/*****************
*    chart
*****************/

#chart {
    background-image: url(../images/pie.png);
    background-size: 1280px 800px;
    background-position: 0px 0px;
    height: 1300px;
    background-repeat: no-repeat;
}

#but {
    background-image: url(../images/intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
}

#but-text {
    font-size: 24px;
    color: white;
    padding-top: 140px;
}


/*****************
*    professor
*****************/

#professor {
    background-color: #b3efff;
    height: 850px;
}

#professor-title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

#professor .row {
    padding-top: 30px;
    height: 700px;
}

#professor .row .col-sm-3 {
    padding: 5;
}

#p1-img {
    padding-top: 20px;
    visibility: hidden;
}

#p1-name {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    background-color: #12337c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}

#p1-textbox {
    margin-top: 40px;
    visibility: hidden;
}

#p1-text {
    position: absolute;
    margin-top: -250px;
    margin-left: 60px;
    width: 200px;
    font-size: 20px;
    visibility: hidden;
}

#p2-img {
    margin-top: 320px;
    visibility: hidden;
}

#p2-name {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    background-color: #12337c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}

#p2-textbox {
    margin-top: 150px;
    visibility: hidden;
}

#p2-text {
    position: absolute;
    margin-top: -275px;
    margin-left: 30px;
    width: 200px;
    font-size: 20px;
    visibility: hidden;
}


/*****************
*    price
*****************/

#price {
    background-color: #66cef2;
    height: auto;
}

#price-title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

#price-text {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}


#svg-price {
    width: 100%;
}


/*****************
*    station
*****************/

#station {
    background-color: #b3efff;
    height: 1000px;
}

#station-title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

#station-text {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

#map {
    margin-top: 50px;
    height: 600px;
}

#station-box {
    margin-top: 200px;
    margin-left: 30px;
    background-color: #f2f2f2;
    border-radius: 50px;
}

#station-box-title {
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 20px;
}

#station-box-content {
    font-size: 24px;
    color: black;
}

#station-box-number {
    font-size: 56px;
    color: black;
    margin-left: 40px;
    display: inline-block;
}

#station-box-unit {
    font-size: 24px;
    color: black;
    margin-top: 30px;
    display: inline-block;
}


/*****************
*    end
*****************/

#end {
    /*
    background-image: url(../images/end.png);
    background-repeat: no-repeat;
    background-size: cover;
    */
    background-color: #12337c;
    height: 590px;
}

#end-text {
    font-size: 24px;
    color: white;
    margin-top: 70px;
}

#end-building {
    position: absolute;
    left: 0;
    margin-top: -80px;
}

#end-ggr {
    position: absolute;
    left: 0;
    margin-top: 265px;
    margin-left: 100px;
}

#end-line-top {
    position: absolute;
    left: 0;
    margin-top: -200px;
}

#end-line-down {
    position: absolute;
    left: 0;
    margin-top: 355px;
}

#footer {
    margin-left: 100px;
    line-height: 15px;
    font-size: 18px;
    color: white;
    margin-top: 200px;
}